body {
  height: 100em;
  background-color: rgb(243, 243, 243);
  font-family: 'Roboto', sans-serif;
}

/* below style is for header part */

header {
  height: 200px;
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  flex-direction: row;
  height: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.856);
}

#logo > img {
  height: 80px;
  position: relative;
  bottom: 10px;
  left: 20px;
  
}

.icon {
  height: 30px;
}

#profile_image {
  height: 40px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0px;
}

#searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  position: relative;
  bottom: 10px;

}

input {
  width: 600px;
  height: 30px;
  border-width: 1px;
  font-size: large;
  padding-left: 1em;
}

button {
  width: 60px;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  background-color: rgb(243, 243, 243);
}

#search_icon {
  height: 20px;
  color: rgb(95, 95, 95);
}

#menu {
  position: relative;
  bottom: 13px;
  left: 15px;
  height: 25px;

}

button:hover {
  background-color: rgb(226, 225, 225);
}

input:focus{
  outline: none;
  border-width: 1px;
  border-color: rgb(50, 137, 252);
}

#voicesearch{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  position: relative;
  right: 80px;
  bottom: 10px;
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(243, 243, 243);
  border-width: 0px;
}

#voicesearch > img{
  height: 20px;
}

#profile{
  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-grow: 1;
  position: relative;
  bottom: 10px
}

.icon_left{
  height: 25px;
}